*{
 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.cantainer{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
.store{
    width: 60%;
    margin: auto;
    min-height: 100%;
}
h1{
    font-size: 60px;
    text-align: center;
    padding: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color: red;
}
.shoes{

    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    border: 1px solid black ;
    border-radius: 15px;
    width: 30%;
    height: 370px;
    padding: 8px;
    box-shadow: 7px 7px 10px rgb(143, 139, 139);
    margin-bottom : 30px;
}
/*
.card divnth.child(1)>img{
    width: 50%;
}*/
.image{
    width: 100px;
    height: 20px;
}
.image > img{
    width: 60%;
}
.sneker >img :hover{
    scale: 1.2;
}
.sneker >img{
    border-radius: 30px;
    height: 250px;
    width: 100%;
    object-fit: cover;
}
.detail{
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-top: 10px;
    justify-content: space-between;
}
.description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (min-width: 320px ) and (max-width : 480px) {
        .store {
    width: 80%;
    margin: auto;
    min-height: 100%;
    }
    h1 {
    font-size: 40px;
    padding: 30px;
    }
    .shoes {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
    .card {
    width: 100%;
    height: 370px;
    }
  .detail {
   font-size: 12px;
    gap: 15px;
    }
}
@media screen and (min-width: 480px ) and (max-width : 720px) {
        .store {
    width: 80%;
    margin: auto;
    min-height: 100%;
    }
    h1 {
    font-size: 40px;
    padding: 30px;
    }
    .shoes {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
    .card {
    width: 50%;
    height: 370px;
    }
  .detail {
   font-size: 12px;
    gap: 15px;
    }
}
@media screen and (min-width: 720px ) and (max-width : 1020px) {
    .store {
    width: 80%;
    margin: auto;
    min-height: 100%;
    }
    h1 {
    font-size: 60px;
    padding: 30px;
    }
    .shoes {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
    .card {
    width: 30%;
    height: 370px;
    }
  .detail {
   font-size: 12px;
    gap: 15px;
    }
}
@media screen and (min-width: 1020px ) and (max-width : 1280px) {
        .store {
    width: 80%;
    margin: auto;
    min-height: 100%;
    }
    h1 {
    font-size: 60px;
    padding: 30px;
    }
    .shoes {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
    .card {
    width: 30%;
    height: 370px;
    }
  .detail {
   font-size: 12px;
    gap: 15px;
    }
}