*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    text-shadow: 2px 2px 10px red;
    background-color: #f7e46a;
}
.wrapper{
    width: 40vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    border: 3px solid purple;
    background-color: #f6a614;
    gap: 10px;
    border-radius: 100px 30px 80px;
}
.wrapper>h1{
    width: 85%;
    text-align: center;
    border-radius:5px ;
    padding-left:10px ;
    padding-top: 10px;
    height: 15%;
    background-color:rgb(181, 222, 238);
}


