*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.page{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DDF4E7;
    flex-direction: column;
    position: relative;
}
.navbar{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    background-color: #67C090;
    padding: 5px 50px;
    position: sticky;
    top: 0px;
}
