*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.page{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DDF4E7;
    flex-direction: column;
    position: relative;
}
.navbar{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    background-color: #67C090;
    padding: 5px 50px;
    position: sticky;
    top: 0px;
}
h1{
    color: #26667F;
    font-size: 3em;
    text-shadow: 5px 5px 15px rgb(231, 255, 53);
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.heading:hover{
    color: #DDF4E7;
}
.image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.categary{
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.titleImage{
    width: 300px;
    height: 200px;
}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 15px;
    font-size: 2em;
}
.boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #124170;
}
.box{
    width: 25vw;
    height:50vh;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    color: #124170;
    border-radius: 20px;
    padding: 20px;
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
} 
.box p:first-child{
    font-size: 1.5em;
}
.box p:last-child{
    font-size: 1em;
}
.boxes >img{
    width: 50px;
    height: 50px;
    border: 3px solid #124170;
    border-radius: 20px;
}
.box:hover{
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.304);
}
.credit{
    width: 100%;
    height: 20vh;
    background-color: #67C090;
    color: #124170;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}
.part1{
    width: 50%;
    font-size: 1.2em;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.intro{
    font-weight: 700;
    font-size: 1.1;
}